<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Nortal.Utilities.MessenteSms.MessenteConnectionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<Nortal.Utilities.MessenteSms.MessenteConnectionSettings>
			<setting name="SuppressSmsSending" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="UserName" serializeAs="String">
				<value>452d032afd3ff0520ba3f3aabb273d58</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>d5a6d79c4de9c187f48044485a7c081a</value>
			</setting>
		</Nortal.Utilities.MessenteSms.MessenteConnectionSettings>
	</applicationSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

	<system.webServer>
		<!-- SMS delivery report handler for integrated mode: -->
		<handlers>
			<add name="SmsDeliveryReportHandler" path="SmsDelivery" verb="GET" type="ExampleApplication.MySmsDeliveryHandler, ExampleApplication, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		</handlers>
	</system.webServer>
</configuration>